@use "./abstracts/" as *;

html,
body {
  scroll-behavior: smooth;
  height: 100%;
  padding: 0;
  margin: 0;
  background: $colors_main_white;
  color: $colors_main_black;
}

* {
  font-family: $font__family_roboto;
  box-sizing: border-box;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  width: fit-content;
}

p {
  line-height: 150%;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 150%;
  margin: 0;
  font-family: $font__family_montserrat;
  letter-spacing: em(2px);
  font-weight: 600;
  text-transform: uppercase;
}

h1 {
  font-size: $font__size_32;
}

h2 {
  font-size: $font__size_24;
}

h3 {
  font-size: $font__size_18;
}

h4 {
  font-size: $font__size_16;
}

h5 {
  font-size: $font__size_14;
}

h6 {
  font-size: $font__size_10;
}

::-moz-selection {
  color: $colors_main_white;
  background: $colors_main_purple;
}

::selection {
  color: $colors_main_white;
  background: $colors_main_purple;
}
