@use "../abstracts/" as *;
@forward "../variables/layoutWrappers.module";

.landing_banner_container {
  padding-top: em(50px);
  padding-bottom: em(100px);
  border-radius: 0 0 em(50px) em(50px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: $colors_main_white;
  box-shadow: rgba($colors_main_black, 0.1) em(0px) em(4px) em(12px);
  background-color: $colors_main_black; // Fallback color if the background image/animation does not work
  background-image: url("../../public/images/background-patterns/pattern-dark-tactile.png");
  background-position: center;
  background-size: auto;
  background-repeat: repeat;
  animation: gradientAnimation 100s ease infinite;
  @keyframes gradientAnimation {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 100%;
    }
  }

  gap: em(50px);
  & .landing_banner_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: em(16px);
    & h2 {
      font-weight: bold;
    }
    & .banner_title_icons {
      color: $colors_main_yellow;
    }
    & p {
      margin: 0;
    }
  }
  & .button_white_redirect {
    border: solid em(2px) $colors_main_white;
    background-color: transparent;
    border-radius: em(5px);
    padding: em(15px) em(50px);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: $transition_300ms;
    &:hover {
      background-color: $colors_main_white;
      color: $colors_main_black;
    }
  }
  & .landing_banner_image {
    & img {
      box-shadow: rgba($colors_main_black, 0.1) em(0px) em(4px) em(12px);

      max-height: em(300px);
      width: auto;
    }
  }
  @include tablet {
    & .landing_banner_text {
      max-width: em(750px);
    }
  }
  @include desktop {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: em(100px);
    & .landing_banner_text {
      max-width: em(750px);
      text-align: left;
      align-items: flex-start;
      & .button_white_redirect {
        max-width: em(400px);
      }
    }
    & .landing_banner_image {
      & img {
        max-height: em(500px);
      }
    }
  }
}

.home_page_container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: em(150px);
  & .motto_explanation_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: em(50px);
    & .motto_title {
      text-align: center;
      & h2 {
        font-weight: bold;
        color: $colors_main_grey;
        font-size: $font__size_20;
        @include tablet {
          font-size: $font__size_24;
        }
      }
    }
    & .motto_content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: em(25px);
      & .content_cube_container {
        max-width: em(375px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: em(16px);
        & .content_cube {
          box-shadow: rgba($colors_main_black, 0.1) em(0px) em(4px) em(12px);
          width: 100%;
          border-radius: em(5px);
          width: em(100px);
          height: em(100px);
          background-color: $colors_main_blue;
          display: flex;
          justify-content: center;
          align-items: center;
          & .cube_icon {
            width: em(50px);
            height: em(50px);
            color: $colors_main_white;
          }
        }
        & .content_text {
          text-align: center;
          & h3 {
            font-weight: bold;
          }
          & p {
            margin-top: em(8px);
            margin-bottom: 0;
            color: $colors_main_grey;
          }
        }
      }
      & .content_dotted_line {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: em(10px);
        & .dotted_line_dot {
          width: em(8px);
          height: em(8px);
          border-radius: em(100px);
          background-color: $colors_main_grey;
        }
        & .dotted_line_line {
          border-right: dotted em(5px) $colors_default_ghostWhite;
          height: em(35px);
        }
      }
      @include desktop {
        flex-direction: row;
        & .content_cube_container {
          max-width: em(350px);
        }
        & .content_dotted_line {
          flex-direction: row;
          justify-content: center;
          & .dotted_line_line {
            border-right: none;
            border-bottom: dotted em(5px) $colors_default_ghostWhite;
            height: 0;
            width: em(35px);
            @include xl {
              width: em(100px);
            }
          }
        }
      }
    }
    & .motto_button_container {
      & .motto_button {
        box-shadow: rgba($colors_main_black, 0.1) em(0px) em(4px) em(12px);
        text-align: center;
        padding: em(15px) em(50px);
        background-color: $colors_main_blue;
        color: $colors_main_white;
        border-radius: em(5px);
        cursor: pointer;
        transition: $transition_300ms;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
          background-color: $colors_main_purple;
        }
      }
    }
  }
  & .wares_showcase_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: em(50px);
    & .wares_showcase_title {
      text-align: center;
      & h2 {
        font-weight: bold;
        color: $colors_main_grey;
        font-size: $font__size_20;
        @include tablet {
          font-size: $font__size_24;
        }
      }
    }
    & .wares_showcase_content {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      gap: em(50px);
      & .wares_item_boxes {
        border-radius: em(5px);
        box-shadow: rgba($colors_main_black, 0.1) em(0px) em(4px) em(12px);
        border-left: solid em(10px) $colors_wareStatus_green;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        &:nth-child(2) {
          border-left: solid em(10px) $colors_wareStatus_yellow;
          & .item_text {
            & .text_title {
              & .ware_status_icon {
                background-color: $colors_wareStatus_yellow;
              }
            }
            & .item_buttons {
              & .ware_button_cart {
                background-color: $colors_wareStatus_yellow;
              }
            }
          }
        }
        &:nth-child(3) {
          border-left: solid em(10px) $colors_wareStatus_red;
          & .item_text {
            & .text_title {
              & .ware_status_icon {
                background-color: $colors_wareStatus_red;
              }
            }
            & .item_buttons {
              & .ware_button_cart {
                background-color: $colors_wareStatus_red;
              }
            }
          }
        }
        & .item_thumbnail {
          display: flex;
          justify-content: center;
          padding: em(30px) 0;
          & img {
            max-height: em(150px);
            width: auto;
            // filter: grayscale(100%);
          }
        }
        & .item_text {
          text-align: left;
          padding: em(15px);
          border-top: solid em(1px) $colors_default_ghostWhite;
          gap: em(8px);
          display: flex;
          flex-direction: column;
          & h6 {
            color: $colors_main_grey;
          }
          & .text_title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            & .ware_status_icon {
              width: em(7px);
              height: em(7px);
              background-color: $colors_wareStatus_green;
              border-radius: 50%;
            }
          }
          & p {
            margin-top: 0;
            margin-bottom: em(25px);
            color: $colors_main_grey;
          }
        }
        & .item_buttons {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          & .ware_button_cart {
            border-radius: em(7px);
            background-color: $colors_wareStatus_green;
            color: $colors_main_white;
            border: none;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: em(20px) em(30px);
            & .ware_button_icon {
              font-size: $font__size_20;
            }
          }
        }
      }
      @include tablet {
        align-items: center;
        & .wares_item_boxes {
          width: 100%;
          max-width: em(400px);
          height: em(450px);
          max-height: em(450px);
        }
      }
      @include desktop {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
      }
    }
  }
}
