// Screen sizes
$breakpoint_mobile: 576px;
$breakpoint_tablet: 768px;
$breakpoint_desktop: 992px;
$breakpoint_xl: 1500px;

// Mixins
@mixin mobile() {
  @media (min-width: $breakpoint_mobile) {
    @content;
  }
}

@mixin tablet() {
  @media (min-width: $breakpoint_tablet) {
    @content;
  }
}

@mixin desktop() {
  @media (min-width: $breakpoint_desktop) {
    @content;
  }
}

@mixin xl() {
  @media (min-width: $breakpoint_xl) {
    @content;
  }
}
